* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
    color: white;
}

:root {
    --blue: #9CD3D9;
    --text-box-color: #D97A43;
    --black: #262626;
    --white: #fff;
    --right: #F2A341;
    --wrong: #aaa;
}

body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 68%;
    font-size: medium;
    
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px 0;
    font-size: 24px;
    font-weight: bold;
}

.high-score a {
    background-color: var(--text-box-color);
    padding: 6px 8px;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
}

.high-score a:hover {
    background-color: var(--blue);
}

.starting-block,
h2,
#question {
    text-align: center;
}

h1 {
    margin-bottom: 24px;
    font-size: 28px;
}

button {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    padding: 8px;
    text-align: left;
    background-color: var(--text-box-color);
    color: var(--black);
    margin: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--blue);
}

#next-button,
#starting-button,
#restart-button,
#clear-score {
    width: auto;
}


.hidden {
    display: none;
}

#verify {
    color: antiquewhite;
    border-top: 1px solid antiquewhite ;
    margin: 20px 0;
    font-style: italic;
    opacity: 50%;
    padding-top: 15px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.right {
    background-color: var(--right);
    border: 1px solid var(--text-box-color);
}

.wrong {
    background-color: var(--wrong);
    border: 1px solid var(--text-box-color);
}

#score-board {
    text-align: center;
    display: flex;
    justify-content: center;
}

.initial-input {
    display: flex;
    flex-direction: row;
}



.done {
    font-size: 30px;
}

#user-score {
    font-weight: normal;
}

.initial-input p {
    padding-top: 17px;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 18px;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--text-box-color);
    border-radius: 5px;
}

.score-block {
    text-align: center;
}

.initial {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 0;
    background-color: var(--text-box-color);
    color: var(--black);
    font-weight: bold;
    margin: 5px;
    width: 100%;
    padding: 10px;
    font-size: medium;
    text-align: left;
    border-radius: 5px;
  }